<div>
  <div>
    <div>
      <table class="border-2 text-xl">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center h-[30px] border border-gray-300">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300 text-danger">Đặc biệt</td>
            <td colspan="24" class="border-bottom-2 border-gray-300 text-3xl text-danger font-bold">{{giaiDacBiet[0]}}</td>
          </tr>
          <tr class="text-center h-[30px]">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300">Giải nhất</td>
            <td colspan="24" class="border-bottom-2 border-gray-300">{{giaiNhat[0]}}</td>
          </tr>
          <tr class="text-center h-[30px]">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300">Giải nhì</td>
            <td colspan="12" class="border-bottom-2 border-gray-300 border-right-2">{{giaiNhi[0]}}</td>
            <td colspan="12" class="border-bottom-2 border-gray-300">{{giaiNhi[1]}}</td>
          </tr>
          <tr class="text-center h-[30px]">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300">Giải ba</td>
            <td colspan="8">
              <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiBa[0]}}</div>
              <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiBa[1]}}</div>
            </td>
            <td colspan="8">
              <div>
                <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiBa[2]}}</div>
                <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiBa[3]}}</div>
              </div>
            </td>
            <td colspan="8">
              <div class="border-bottom-2 border-gray-300 px-4">{{giaiBa[4]}}</div>
              <div class="border-bottom-2 border-gray-300 px-4">{{giaiBa[5]}}</div>
            </td>
          </tr>
          <tr class="text-center h-[30px] px-4">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300">Giải tư</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 border-right-2">{{giaiTu[0]}}</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 border-right-2">{{giaiTu[1]}}</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 border-right-2">{{giaiTu[2]}}</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 border-right-2">{{giaiTu[3]}}</td>
          </tr>
          <tr class="text-center h-[30px]">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300">Giải năm</td>
            <td colspan="8">
              <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiNam[0]}}</div>
              <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiNam[1]}}</div>
            </td>
            <td colspan="8">
              <div>
                <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiNam[2]}}</div>
                <div class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiNam[3]}}</div>
              </div>
            </td>
            <td colspan="8">
              <div class="border-bottom-2 border-gray-300 px-4">{{giaiNam[4]}}</div>
              <div class="border-bottom-2 border-gray-300 px-4">{{giaiNam[5]}}</div>
            </td>
          </tr>
          <tr class="text-center h-[30px] px-4">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300">Giải sáu</td>
            <td colspan="8" class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiSau[0]}}</td>
            <td colspan="8" class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiSau[1]}}</td>
            <td colspan="8" class="border-bottom-2 border-gray-300 px-4">{{giaiSau[2]}}</td>
          </tr>
          <tr class="text-center h-[30px] px-4">
            <td class="px-4 border-right-2 border-bottom-2 border-gray-300">Giải bảy</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiBay[0]}}</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiBay[1]}}</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 border-right-2 px-4">{{giaiBay[2]}}</td>
            <td colspan="6" class="border-bottom-2 border-gray-300 px-4">{{giaiBay[3]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>