<div class="container-body screen-lg">
  <div class="shadow-2 bg-white p-4 border-round-2xl w-full h-full flex flex-column flex-1">
    <div class="mb-4 flex gap-2">
      <them-sua-tai-khoan (reLoadData)="reloadData()"/>
      <cap-nhat-mat-khau (reLoadData)="reloadData()"  [listUser]="selectedItems"/>
      <p-button label="Khóa" icon="pi pi-lock" severity="danger" [disabled]="!selectedItems.length || selectedItems.length > 1" (onClick)="lockAccount()"/>
      <p-button label="Mở khóa" icon="pi pi-unlock" severity="warning"
        [disabled]="!selectedItems.length || selectedItems.length > 1" (onClick)="unlockAccount()"/>
      <p-button [disabled]="!selectedItems.length" label="Xóa tài khoản" icon="pi pi-trash" severity="danger" (onClick)="deleteAccount()"/>
    </div>
    <p-table [value]="listData" dataKey="id" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" sortMode="multiple" [(selection)]="selectedItems"
      [rows]="itemsPerPage" [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]" [scrollable]="true" [scrollHeight]="scrollHeight"
      (rowsChange)="changeRowTable($event)">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
          <th pSortableColumn="username">Tên tài khoản <p-sortIcon field="username" /></th>
          <th pSortableColumn="fullName">Họ tên <p-sortIcon field="fullName" /></th>
          <th>Trạng thái </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>
            <p-tableCheckbox [value]="data"/>
          </td>
          <td>{{data.username}}</td>
          <td>{{data.fullName}}</td>
          <td>
            <div *ngIf="data.status === 1" class="bg-warning rounded-4 text-center w-[100px] py-2 text-white">
              Hoạt động
            </div>
            <div *ngIf="data.status === -1" class="bg-danger rounded-4 text-center w-[100px] py-2 text-white">
              Khóa
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="relative screen-md">
  <div class="absolute" style="top: -28px; right: 1rem;">
    <them-sua-tai-khoan (reLoadData)="reloadData()" />
  </div>
  <div class="flex flex-column">
    <div *ngFor="let item of listData" class="py-2 flex flex-column gap-3 border-top-1 border-gray-200">
      <div class="flex justify-content-between">
        <div>
          <div class="fz-4 font-bold mb-1">
            {{item.fullName ? item.fullName : 'N/A'}}
          </div>
          <div class="text-gray-500">
            {{item.username}}
          </div>
        </div>
        <div (click)="selecteItem(item)">
          <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
          <p-overlayPanel #op>
            <div class="flex flex-column gap-4">
              <div class="flex align-items-center gap-2" (click)="showDialogUpdatePassword()">
                <i class="pi pi-key"></i>
                Cập nhật mật khẩu
              </div>
              <div class="flex align-items-center gap-2" (click)="lockAccount()">
                <i class="pi pi-lock"></i>
                Khóa
              </div>
              <div class="flex align-items-center gap-2" (click)="unlockAccount()">
                <i class="pi pi-unlock"></i>
                Mở khóa
              </div>
              <div class="flex align-items-center gap-2" (click)="deleteAccount()">
                <i class="pi pi-trash"></i>
                Xóa tài khoản
              </div>
            </div>
          </p-overlayPanel>
        </div>
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="text-gray-500">
          Trạng thái <span [class]="item.status === 1 ? 'text-center w-[100px] py-2 text-warning' : 'rounded-4 text-center w-[100px] py-2 text-danger'">
            {{item.status === 1 ? 'Hoạt động' : 'Khóa'}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <cap-nhat-mat-khau (reLoadData)="reloadData()" [listUser]="selectedItems" [visible]="isShowUpdatePassword"/>
</div>