<div>
  <div class="w-full p-3 bg-warning rounded-6 fz-4 mb-4 text-center font-bold">
    Thống kê chu kỳ dàn đặc biệt Truyền thống
  </div>
  <div class="flex flex-column gap-4">
    <div>
      Dàn số <span class="font-bold text-danger-2">01</span>
    </div>
    <div>
      Dữ liệu kết quả đặc biệt Truyền Thống từ ngày <span class="font-bold text-primary">01-01-2000</span> đến ngày <span class="font-bold text-primary">16-10-2024</span>
    </div>
    <div>
      Ngưỡng cực đại không xuất hiện dàn số là 504 ngày (kể cả ngày về), từ <span class="font-bold text-primary">11-07-2024</span> (giải đặc biệt - 02801) đến <span class="font-bold text-primary">01-12-2023</span>
      (giải đặc biệt - 12301)
    </div>
    <div>
      Lần xuất hiện sau cùng của 1 số thuộc dàn trong khoảng ngày bạn chọn là <span class="font-bold text-primary">23-06-2024</span> (giải đặc biệt - 28501)
    </div>
    <div>
      Điểm gan đến nay là: <span class="font-bold text-danger-2">114</span> ngày (Không tính ngày về gần nhất), là ngày: <span class="font-bold text-primary">23-06-2024</span> (giải đặc biệt - 28501)
    </div>
  </div>
</div>