<div class="h-full relative">
  <div class="bg-white rounded-8 absolute login-container top-50 left-50" style="transform: translate(-50%,-50%);">
    <div class="font-bold text-center mb-2 login-title">
      Đăng nhập tài khoản
    </div>
    <div class="text-center login-subtitle font-normal mb-4">
      Hãy điền thông tin tài khoản của bạn để đăng nhập
    </div>
    <div class="mb-4">
      <div class="mb-4">
        <input type="text" pInputText class="w-full input-responsive" placeholder="Tài khoản" [(ngModel)]="username"/>
      </div>
      <div>
        <input type="password" pInputText class="w-full input-responsive" placeholder="Mật khẩu" [(ngModel)]="password"/>
      </div>
    </div>
    <button *ngIf="!isLoading" (click)="login()" class="w-full p-4 bg-warning rounded-6 fz-4 active:bg-yellow-500 hover:bg-yellow-500 transition-all transition-duration-300 cursor-pointer mb-4">Đăng nhập</button>
    <button *ngIf="isLoading" 
      class="w-full bg-warning rounded-6 fz-4 active:bg-yellow-500 hover:bg-yellow-500 transition-all transition-duration-300 cursor-pointer mb-4">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" />
    </button>
    <div class="text-center">
      Chưa có tài khoản? <span class="font-bold hover:underline transition-all transition-duration-300 cursor-pointer">Đăng ký ngay!</span>
    </div>
  </div>
</div>