<div class="container-body">
  <div class="shadow-2 bg-white p-4 border-round-2xl w-full h-full flex flex-column flex-1">
    <div class="flex gap-4 h-full">
      <div class="border-right-1 border-gray-200 pr-4">
        <div class="flex flex-column flex-1 gap-4 h-full w-[487px]">
          <div class="fz-5 font-bold">
            Tìm kiếm
          </div>
          <div class="flex flex-column h-full gap-4">
            <div>
              <div class="flex flex-column gap-2">
                <label for="fixNumber">Số</label>
                <input type="text" pInputText placeholder="Ví dụ: 1,2,3,4,5" [(ngModel)]="quantity" />
              </div>
            </div>
            <div>
              <div class="flex flex-column gap-2">
                <label for="fixNumber">Từ ngày</label>
                <p-calendar [(ngModel)]="startDate" styleClass="w-full" [showButtonBar]="true" dateFormat="dd/mm/yy"
                  (onSelect)="selectStartDate($event)" [maxDate]="maxDate" placeholder="Chọn ngày" />
              </div>
            </div>
            <div>
              <div class="flex flex-column gap-2">
                <label for="fixNumber">Đến ngày</label>
                <p-calendar [(ngModel)]="endDate" styleClass="w-full" [showButtonBar]="true" dateFormat="dd/mm/yy"
                  [minDate]="minDate" (onSelect)="selectEndDate($event)" placeholder="Chọn ngày" />
              </div>
            </div>
            <div>
              <button pRipple
                class="w-full p-3 bg-warning rounded-6 fz-4 active:bg-yellow-500 hover:bg-yellow-500 transition-all transition-duration-300 cursor-pointer mb-2">Tìm
                kiếm</button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full container-content flex flex-column">
        <div class="flex flex-column flex-1 max-h-screen">
          <p-table [value]="listData" dataKey="code" [tableStyle]="{'min-width': '50rem', 'width': '100%'}" sortMode="multiple" [scrollable]="true"
            [scrollHeight]="scrollHeight" (rowsChange)="changeRowTable($event)">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="code">SL số của dàn <p-sortIcon field="code" /></th>
                <th pSortableColumn="name">{{'Các số \n trong dàn'}} <p-sortIcon field="name" /></th>
                <th pSortableColumn="category">Ngưỡng cực đại <p-sortIcon field="category" /></th>
                <th pSortableColumn="quantity">Ngày ra gần nhất <p-sortIcon field="quantity" /></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>{{data.code}}</td>
                <td>{{data.name}}</td>
                <td>{{data.category}}</td>
                <td>
                  {{data.description}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <p-paginator [first]="0" [rows]="20" [totalRecords]="120"
          [rowsPerPageOptions]="[10, 20, 30]" />
      </div>
    </div>
  </div>
</div>