<div class="bg-white px-4 py-2 border-round-2xl grid align-items-center shadow-2" style="margin-left: 0!important; margin-right: 0!important;">
  <div class="col-6 grid m-0 align-items-center">
    <div class="col m-0">
      LOGO
    </div>
    <div class="col m-0 flex gap-6">
      <div *ngFor="let tab of listTabs" class="cursor-pointer py-2" [class]="tab.key === tabActive ? 'font-bold text-black-alpha-90 border border-bottom-2 transition-all' : 'text-200'" (click)="changeTab(tab)">
        {{tab.name}}
      </div>
    </div>
    <div class="col m-0">
    </div>
  </div>
  <div class="col-6 grid gap-3 m-0 align-items-center">
    <p-iconField iconPosition="left" class="flex-1">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Tìm kiếm" class="w-full"/>
    </p-iconField>
    <div>
      <p-button icon="pi pi-bell" severity="secondary" />
    </div>
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2 border-1 border-blue-500" size="large"
      shape="circle" (click)="op.toggle($event)"/>
    <p-overlayPanel #op>
      <div class="flex align-items-center gap-4 p-2 hover:bg-gray-100 hover:font-bold transition-all transition-duration-300 cursor-pointer rounded-2" (click)="logout()">
        <div>Đăng xuất</div>
        <i class="pi pi-sign-out text-red-500"></i>
      </div>
    </p-overlayPanel>
  </div>
</div>