.content-scroll {
  height: calc(100% - 20px - 48px - 184px);
  overflow-y: auto;
}
.content-scroll-md {
  height: calc(100% - 20px - 159px);
  overflow-y: auto;
}
.content-scroll-x {
  width: calc(100vw - 400px - 325px - 82px);
}